* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.flex-container {
  height: 100vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  background-color: #F2F5F9; 
}

.image-container, .heading-container, .info-container {
  width: 25rem; 
}

.image-container {
  display: flex; 
  flex-direction: column;
}

#image-cover {
  border-top-left-radius: 1.5rem; 
  border-top-right-radius: 1.5rem; 
}

#image-overlay {
  position: relative; 
  top: -2.5rem;
  background-color: transparent; 
}

.heading-container, .info-container {
  background-color: white; 
  position: relative; 
  top: -3rem; 
  border: 1px solid white; 
  padding-left: 2rem; 
  padding-right: 2rem; 
}

#card-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem; 
}

#card-title, #card-caption, #card-author, #author-description  {
  background-color: white; 
}

#card-title, #card-caption {
  margin-top: 1rem; 
}

#card-author {
  margin-top: 2rem; 
  font-size: 1rem; 
  font-weight: bold; 
}

#author-description {
  margin-bottom: 2rem; 
}

#card-caption, #author-description {
  font-size: 1rem; 
}

.info-container {
  display: flex; 
  border-bottom-left-radius: 1.5rem; 
  border-bottom-right-radius: 1.5rem; 
}

.flex-container-text {
  background-color: white; 
  margin-left: 0.5rem; 
}

.flex-image {
  display: flex; 
  align-items: center; 
}

#author-image {
  height: 2rem; 
  width: 2rem; 
  border-radius: 2rem;
}

